
@{
    ViewData["Title"] = "DIndex3";
}


<script src="~/js/vue.js"></script>
<script src="~/js/axios.min.js"></script>

<script src="~/layui-v2.5.6/layui/layui.js"></script>
<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />

<h2 style="margin-bottom:50px;font-family:LiSu">终审列表</h2>
<div id="app">
    @*<input id="Button1" type="button" value="查询" v-on click="Search()" />*@
    <table>
        <tr>
            <td style="width:400px">客户名称：<input id="Text1" type="text" v-model="input1" style="width:200px;height:30px" /></td>
            <td style="width:400px">手机号码：<input id="Text2" type="text" v-model="input2" style="width:200px;height:30px" /></td>
            <td>身份证号：<input id="Text3" type="text" v-model="input3" style="width:200px;height:30px" /></td>
        </tr>
        <tr>
            <td style="width:400px;height:80px">
                申请状态：
                <select id="d" style="width:200px;height:30px" v-model="aa">
                    <option value="0">全部</option>
                    <option v-for="(item,index) in Zt" :key="index" :value="item.id">{{item.name}}</option>
                </select>
            </td>
            <td style="width:400px">
                期数：
                <select id="e" style="width:200px;height:30px;margin-left:25px" v-model="bb">
                    <option value="0">全部</option>
                    <option value="1">3</option>
                    <option value="2">6</option>
                    <option value="2">12</option>
                </select>
            </td>
            <td>身份证号：<input id="f" type="date" style="width:200px;height:30px" /></td>
        </tr>
    </table>
    @*<table>
            <tr>
                <td>


                </td>
                <td style="width:400px">期数：<select id="Select1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select></td>
                <td>申请时间:<input id="Text4" type="date" v-model="input5" style="width:200px;height:30px;margin-left:10px" /></td>
            </tr>
        </table>*@


    <button type="button" class="layui-btn layui-btn-normal" v-on:click="Search" style="margin-top:20px;margin-left:1000px">查询</button>
    <table class="layui-table">
        @*<colgroup>
                <col width="150">
                <col width="150">
                <col width="200">
                <col>
            </colgroup>*@
        <thead>
            <tr>
                <th>订单编号</th>
                <th>客户姓名</th>
                <th>申请金额</th>
                <th>期数</th>
                <th>利率</th>
                <th>申请状态</th>
                <th>提交时间</th>
                <th>用途</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="i in emps">
                <td>{{i.dNo}}</td>
                <td>{{i.dName}}</td>
                <td>{{i.dMoney}}</td>
                <td>{{i.dCount}}</td>
                <td>{{i.dLi}}</td>
                <td>{{i.dSzt==7?"终审中":""}}</td>
                <td>{{i.sdTime}}</td>
                <td>{{i.dTu}}</td>
                <td>
                    <button type="button" class="layui-btn layui-btn-radius" v-on:click="Cha(i.dId)">查看</button>
                    @*<button type="button" class="layui-btn layui-btn-radius" v-on:click="Del(i.sId)">删除</button>
                        <button class="layui-btn layui-btn-radius" data-toggle="modal" data-target="#myModal" v-on:click="Fan(i)">修改</button>*@
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered" style="text-align:center">
        <tr>
            <td>总共<span>{{PageCount}}</span>条记录</td>
            <td>总共<span>{{PageIndex}}</span>页</td>
            <td>当前第<span>{{PageCurrent}}</span>页</td>
            <td><a href="#" v-on:click="a">首页</a></td>
            <td><a href="#" v-on:click="b">上一页</a></td>
            <td><a href="#" v-on:click="c">下一页</a></td>
            <td><a href="#" v-on:click="d">尾页</a></td>
        </tr>
    </table>
</div>

<script>

    var vn = new Vue({
        el: '#app',
        data: {
            emps: '',
            input1: '',
            PageCurrent: 1,
            PageIndex: 1,
            PageCount: 1,
            aa: '',
            Zt: ''
        },
        //mounted() {
        //    axios
        //           .get('http://localhost:51166/api/User/KeShow')
        //            .then(response => (this.emps = response.data))
        //            .catch(function () {
        //                console.log(error);
        //            });
        //}
        mounted: function () {
            this.Show();
            this.Xia();
        },
        methods: {
            Show: function () {
                var t = this;
                var PageSize = 5;
                axios({
                    method: "get",
                    url: "http://localhost:51166/api/User/DShow3",
                    params: { name: t.input1, PageSize: parseInt(PageSize), PageCurrent: parseInt(t.PageCurrent) }
                })
                    .then(
                        function (i) {
                                t.emps = i.data.lmS_Dings,
                                t.PageCurrent = i.data.pageCurrent,
                                t.PageIndex = i.data.pageIndex,
                                t.PageCount = i.data.pageCount
                        }
                    )
                    .catch(function () {
                        console.log(error);
                    });
            },
            Xia: function () {
                var a = this;
                axios({
                    method: "get",
                    url: "http://localhost:51166/api/User/Zt",
                }).then(function (i) {
                    a.Zt = i.data;
                })
            },
            a: function () {
                //alert(currentPage);
                this.PageCurrent = 1;
                this.Show();
            },
            b: function () {
                //alert(currentPage);
                this.PageCurrent--;
                if (this.PageCurrent < 1) {
                    this.PageCurrent++;
                }
                this.Show();
            },
            c: function () {
                //alert(currentPage);
                this.PageCurrent++;
                if (this.PageCurrent < this.PageIndex) {
                    this.PageCurrent++;
                }
                this.Show();
            },
            d: function () {
                //alert(currentPage);
                this.PageCurrent = this.PageIndex;
                this.Show();
            },
            Search() {
                this.Show();
            },
            //Add() { location.href = "http://localhost:51490/User/AddIndex" },
            Cha(id) { location.href = "/User/XIndex3?id="+id },
        }
    })

</script>







