
@{
    ViewData["Title"] = "Add";
}

<h1>催收添加</h1>

<script src="~/js/vue.js"></script>
<script src="~/js/axios.min.js"></script>

<script src="~/layui-v2.5.6/layui/layui.js"></script>
<script src="~/layui-v2.5.6/layui/layui.all.js"></script>
<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<link href="~/layui-v2.5.6/layui/css/modules/laydate/default/laydate.css" rel="stylesheet" />


<div id="app">
    <table class="table table-bordered">
        <tr>
            <td>借款订单编号:</td>
            <td><input type="text" v-model="obj.Code" /></td>
        </tr>
        <tr>
            <td>客户姓名:</td>
            <td><input type="text" v-model="obj.Name" /></td>
        </tr>
        <tr>
            <td>催收状态:</td>
            <td>
                <select v-model="obj.Status">
                    <option value="">--请选择--</option>
                    <option value="0">催收中</option>
                    <option value="1">已完成</option>
                </select>
                @*<input type="text" v-model="Status" />*@
            </td>
        </tr>
        <tr>
            <td>最新催收记录:</td>
            <td><input type="text" v-model="obj.Record" /></td>
        </tr>
        <tr>
            <td>委派催收时间:</td>
            <td><input type="date" v-model="obj.RecordTime" /></td>
        </tr>
        <tr>
            <td>催收人员:</td>
            <td><input type="text" v-model="obj.Collector" /></td>
        </tr>
        <tr>
            <td><input id="Button1" type="button" v-on:click="Add" value="添加" /></td>
            <td><input id="Button1" type="button" value="button" /></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    //添加
    var data = {
        obj: {
            Code: '',
            Name: '',
            Status:parseInt(0),
            Record: '',
            RecordTime: '',
            Collector: '',
        },
    };
   var vm= new Vue({
        el: '#app',
        data,
        methods: {
            Add() {
                var m = JSON.stringify(this.obj);
                axios.post("http://localhost:51166/api/Collection/Add","m="+m)
                    .then(function (response) {
                        if (response.data > 0) {
                            alert("添加成功");
                            location.href = '/Collection/Show';
                        }
                        else {
                            alert('添加失败!');
                        }
                    })
            }
        }

    })
</script>

