
@{
    ViewBag.Title = "Show1";
    Layout = null;
}



<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>

    <script src="~/layui-v2.5.6/layui/layui.js"></script>
    <link href="~/layui-v2.5.6/layui/css/modules/laydate/default/laydate.css" rel="stylesheet" />
    <link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui-v2.5.6/layui/css/modules/code.css" rel="stylesheet" />

    <script>
        //function TZYM(type) {
        //    //src拼接跳转页面 要跳转那个页面 请参考员工签到对应的字母 /控制器名字/方法名 列如‘/Interface/Add'
        //    switch (type) {

        //        case "a":
        //            document.getElementById("tz").src = '/Manpower/EmpShow';
        //            break;
        //        case "b":
        //            document.getElementById("tz").src = '/Leave/Add';
        //            break;
        //        case "c":
        //            document.getElementById("tz").src = '/User/IndexUser';
        //            break;
        //        case "e":
        //            document.getElementById("tz").src = '/Dep/IndexDep';
        //            break;
        //        case "f":
        //            document.getElementById("tz").src = '/Leave/Show';
        //            break;
        //        case "g":
        //            document.getElementById("tz").src = '/Plan/Index';
        //            break;
        //        case "h":
        //            document.getElementById("tz").src = '';
        //            break;
        //        case "i":
        //            document.getElementById("tz").src = '';
        //            break;
        //        case "j":
        //            document.getElementById("tz").src = '';
        //            break;
        //        case "k":
        //            document.getElementById("tz").src = '';
        //            break;
        //        default:
        //    }
        //}
    </script>

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>-->
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <!--<ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">-->
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <!--<ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">所有商品</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="javascript:;">列表三</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" lay-filter="test">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">-->
            <!-- 内容主体区域 -->
            <!--<iframe id="tz" src="/Img/003.png" style="height:100%;width:100%;" name="main_self_frame" frameborder="0" class="layadmin-iframe">
        </div>

        <div class="layui-footer">-->
            <!-- 底部固定区域 -->
            <!--© layui.com - 底部固定区域
        </div>
    </div>
    <script src="../src/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</body>
</html>-->


















