
@{
    ViewData["Title"] = "Show1";
}

<h1>Show1</h1>


<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.5.6/layui/layui.all.js"></script>

<div class="layui-inline">
    <label class="layui-form-label">日期时间选择器</label>
    <div class="layui-input-inline">
        <input type="text" class="layui-input" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">
    </div>
</div>