
@{
    ViewData["Title"] = "Show";
}


<script src="~/js/vue.min.js"></script>
<script src="~/js/axios.min.js"></script>

<script src="~/layui-v2.5.6/layui/layui.js"></script>
<script src="~/layui-v2.5.6/layui/layui.all.js"></script>
<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<link href="~/layui-v2.5.6/layui/css/modules/laydate/default/laydate.css" rel="stylesheet" />


@{
    ViewData["Title"] = "XIndex4";
}


@{
    ViewData["Title"] = "XIndex2";
}

<script src="~/layui-v2.5.6/layui/layui.js"></script>
<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />

<div id="app">
    <h6 style="margin-left:30px;margin-top:25px">催收记录</h6>
    <div class="layui-form">
        <table class="layui-table">
            <thead>
                <tr>
                    <td>内容</td>
                    <td>记录时间</td>
                    <td>操作人员</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in emps">
                    <td>{{item.content}}</td>
                    <td>{{(item.recordTime||'').split('T')[0]}}</td>
                    <td>{{item.operator}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h6 style="margin-left:30px;margin-top:25px">帐单信息</h6>
    <div class="layui-form">
        <table class="layui-table">
            <thead>
                <tr>
                    <td>期数</td>
                    <td>待还金额</td>
                    <td>罚息</td>
                    <td>还款状态</td>
                    <td>逾期天数</td>
                    <td>应还款日期</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>1000.00</th>
                    <th>50.00</th>
                    <th>未还款</th>
                    <th>5</th>
                    <th>2019-05-01</th>
                </tr>
                @*<tr v-for="item in emps">
                <td>{{item.content}}</td>
                <td>{{(item.recordTime||'').split(' ')[0]}}</td>
                <td>{{item.operator}}</td>
            </tr>*@
            </tbody>
            <tbody>
                <tr>
                    <th>2</th>
                    <th>1000.00</th>
                    <th>0.00</th>
                    <th>未还款</th>
                    <th></th>
                    <th>2019-06-02</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>3</th>
                    <th>1000.00</th>
                    <th>0.00</th>
                    <th>未还款</th>
                    <th></th>
                    <th>2019-07-03</th>
                </tr>
            </tbody>
        </table>
    </div>

    <h6 style="margin-top:30px;margin-left:30px">客户信息</h6>
    <hr style="color:gainsboro" />
    <table style="margin-top:30px;margin-left:30px">
        <tr>
            <td style="width:500px;height:50px"><p>客户名称：<span id="SName"></span></p></td>
            <td style="width:500px;height:50px"><p>手机电话：<span id="SPhone"></span></p></td>
            <td style="width:500px;height:50px"><p>身份证号：<span id="SCard"></span></p></td>
        </tr>
        <tr>
            <td style="width:500px;height:50px"><p>贷款状态：<span id="SKuan"></span></p></td>
            <td style="width:500px;height:50px"><p>客户备注：<span id="SBei"></span></p></td>
        </tr>
    </table>

    <h6 style="margin-top:30px;margin-left:30px">客户个人信息</h6>
    <hr style="color:gainsboro" />
    <table style="margin-top:30px;margin-left:30px">
        <tr>
            <td style="width:500px;height:50px"><p>电子邮箱：<span style="margin-left:20px" id="SEmail"></span></p></td>
            <td style="width:500px;height:50px"><p>民族：<span id="SNation"></span></p></td>
            <td style="width:500px;height:50px"><p>学历：<span id="SXueli">车贷（001）</span></p></td>
        </tr>
        <tr>
            <td style="width:500px;height:50px"><p>手机电话：<span id="SPhone1"></span></p></td>
            <td style="width:500px;height:50px"><p>健康状况：<span id="SJian"></span></p></td>
            <td style="width:500px;height:50px"><p>户口类型：<span>城市户口</span></p></td>
        </tr>
        <tr>
            <td style="width:500px;height:50px"><p>所在地区：<span id="SSFrom"></span></p></td>
            <td style="width:500px;height:50px"><p>详细地址：<span id="SXFrom"></span></p></td>
            <td style="width:500px;height:50px"><p><span></span></p></td>
        </tr>
    </table>

    <h6 style="margin-top:30px;margin-left:30px">职业信息</h6>
    <hr style="color:gainsboro" />
    <table style="margin-top:30px;margin-left:30px">
        <tr>
            <td style="width:500px;height:50px"><p>工作单位：<span style="margin-left:20px" id="SWorks"></span></p></td>
            <td style="width:500px;height:50px"><p>公司性质：<span>外资企业</span></p></td>
            <td style="width:500px;height:50px"><p>月薪：<span id="SMonthly"></span></p></td>
        </tr>
        <tr>
            <td style="width:500px;height:50px"><p>公司地址：<span>上海浦东</span></p></td>
            <td style="width:500px;height:50px"><p>详细地址：<span id="SQFrom"></span></p></td>
            <td style="width:500px;height:50px"><p>公司电话：<span id="SQPhone"></span></p></td>
        </tr>
    </table>
    <h3 style="margin-top:30px;font-size:20px;margin-left:30px">身份证正面照</h3>
    <hr style="color:gainsboro;margin-left:30px" />
    <div>
        <img style="width:300px;height:100px;margin-left:30px" id="img1" />
    </div>
    <h3 style="margin-top:30px;font-size:20px;margin-left:30px;">身份证反面照</h3>
    <hr style="color:gainsboro;margin-left:30px" />
    <div>
        <img style="width:300px;height:100px;margin-left:30px" id="img2" />
    </div>
    <button type="button" class="layui-btn layui-btn-normal" style="margin-bottom:50px;margin-top:30px;margin-left:650px" data-toggle="modal" data-target="#myModal">客户备注</button>
    <button type="button" class="layui-btn layui-btn-normal" style="margin-bottom:50px;margin-left:50px;margin-top:30px" data-toggle="modal" data-target="#myModal">添加催收记录</button>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">添加催收记录</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="layui-form-item layui-form-text">
                        @*<label class="layui-form-label" style="width:100px">审核意见:</label>*@
                        @*<div class="layui-input-block">*@
                        <textarea placeholder="请输入内容" class="layui-textarea" style="margin-right:500px" v-model="d.Content"></textarea>
                        @*</div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="Qas">确 定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<script>
    var data = {
        a: {
            DMoney: '王则波',
            DCount: "帅",
            DLi: "www",
            DTu: '王则波',
            DHuan: "帅",
            DDan: "www",
            DName:''
        },
        b: {
            SEmail: '王则波',
            SNation: "帅",
            SXueli: "www",
            SPhone: '王则波',
            SSFrom: "帅",
            SXFrom: "www",
            SJian: '王则波',
            SImg1: "帅",
            SImg2: "www",
            SWorks: '王则波',
            SQFrom: "帅",
            SMonthly: "www",
            SQPhone: "www",
            SKuan:''
        },
        name: '',
        c: {
            SJId:'',
            JName:'admin',
            //JNei:'1',
            JTime: new Date(),
            Content: '1',
        },
        d: {
            Content:'',
        },
        emps: '',
    };
    new Vue({
        el: '#app',
        data,
        mounted: function () {
            this.Fan1(@ViewBag.id4);
            this.Fan2();
        },
        methods: {
            Fan1:function(id) {
                var n = this;
                axios({
                    method: 'get',
                    url: 'http://localhost:51166/api/User/XFan4',
                    params: { id: id }
                })
                    .then(function (i) {
                            n.b.SEmail = i.data.sEmail;
                            if (i.data.sNation==1) {
                                n.b.SNation = "汉族";
                            }
                            else {
                                n.b.SNation = "少数民族";
                            }
                            //n.b.SNation = i.data.sNation;
                            //n.b.SXueli = i.data.sXueli;
                            if (i.data.sXueli==4) {
                                n.b.SXueli = "大专";
                            }
                            else {
                                n.b.SXueli = "本科";
                            }
                            //n.b.SPhone = i.data.sPhone;
                            //n.b.SSFrom = i.data.sSfrom;
                            //n.b.SXFrom = i.data.sxFrom;
                            //n.b.SJian = i.data.sJian;
                            //n.b.SWorks = i.data.sWorks;
                            //n.b.SQFrom = i.data.sqFrom;
                            //n.b.SMonthly = i.data.sMonthly;
                            //n.b.SQPhone = i.data.sqPhone;
                            //n.b.SKuan = i.data.sKuan;
                            $("#SKuan").text(i.data.sWorks);
                            $("#SName").text(i.data.sName);
                            $("#SPhone").text(i.data.sPhone);
                            $("#SCard").text(i.data.sCard);
                            $("#SEmail").text(i.data.sEmail);
                            $("#SNation").text(i.data.dNo);
                            $("#SXueli").text(i.data.sXueli);
                            $("#SPhone1").text(i.data.sPhone);
                            $("#SSFrom").text(i.data.sSfrom);
                            $("#SXFrom").text(i.data.sxFrom);
                            $("#SWorks").text(i.data.sWorks);
                            $("#SMonthly").text(i.data.sMonthly);
                            $("#SQFrom").text(i.data.sqFrom);
                            $("#SQPhone").text(i.data.sqPhone);
                            $("#SJian").text(i.data.sJian);
                            if (i.data.sKuan==1) {
                                $("#SKuan").text("贷款中");
                            }
                            else {
                                $("#SKuan").text("已还清");
                            }

                            $("#SJian").text(i.data.sJian);
                            $("#SBei").text(i.data.sBei);
                            if (i.data.sNation==1) {
                                $("#SNation").text("汉族");
                            }
                            else {
                                $("#SNation").text("少数民族");
                            }
                            $("#img1").attr("src",i.data.sImg1);
                            $("#img2").attr("src", i.data.sImg2);
                        }
                    )
            },
            Fan2: function () {
                axios.get('http://localhost:51166/api/Record/Show')
                    .then(response => (this.emps = response.data))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            Qas() {
                var m = JSON.stringify(this.a);
                axios.post("http://localhost:51166/api/Record/Add", "m=" + m)
                    .then(function (response) {
                        if (response.data > 0) {
                            alert("操作成功");
                            location.href = '/Record/Show';
                        }
                        else {
                            alert('操作失败!');
                        }
                    })
            },

        }
    })
</script>




@*<div id="app" class="layui-form">
    <div class="layui-form">
        <table class="layui-table">
            <thead>
                <tr>
                    <td>内容</td>
                    <td>记录时间</td>
                    <td>操作人员</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in emps">
                    <td>{{item.content}}</td>
                    <td>{{(item.recordTime||'').split(' ')[0]}}</td>
                    <td>{{item.operator}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    //显示
    new Vue({
        el: '#app',
        data: {
            emps: ''
        },
        mounted() {
            axios.get('http://localhost:51166/api/Record/Show')
                .then(response => (this.emps = response.data))
                .catch(function (error) {
                    console.log(error);
                });
        },
    })
</script>*@



